/* f o n t s  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quattrocento:wght@400;700&display=swap');

/* n o r m a l i z e */
@import url(./normalize.css);

/* m e d i a  q u e r i e s */
@import url(./mobile.css);
@import url(./tablet.css) screen and (min-width: 768px);
@import url(./desktop.css) screen and (min-width: 992px);


/* g e n e r a l  s e t t i n g s */

:root {
    --color-primary: #162A2C;
    --color-secondary: #313c42;
    --text-primary: #F4EFE6;
    --text-secondary: #E6B17E;
    --font-primary: 'Quattrocento', serif;
    --font-secondary: 'Libre Baskerville', serif;
}

* {
    font-family: var(--font-primary);
    color: var(--text-primary);
    text-align: center;
}